/* Chat container */
.msger {
  margin: 20px;
  height: 500px; /* Adjust the height as needed */
  border-radius: 10px;
  background: #000000;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #808080; /* Change to gray */
  color: white;
}

.msger-chat {
  padding: 10px;
  overflow-y: auto;
  height: 80%; /* Adjust the height as needed */
}

.msg-wrapper {
  display: table;
  width: 100%;
}

/* Messages */
.msg {
  display: table-row;
}

/* Bubble */
.msg-bubble {
  max-width: 300px;
  padding: 15px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Avatar */
.msg-img {
  display: table-cell;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
}

/* Person message */
.right-msg .msg-bubble {
  margin-left: auto;
  background: #808080; /* Change to gray */
  color: white;
}

.right-msg .msg-info-name {
  color: white;
}

/* BOT message */
.left-msg .msg-bubble {
  margin-right: auto;
}

/* Online users */
.msger-users {
  padding: 10px;
  background: #000000;
  border-left: 1px solid #ddd;
}

.msger-users h2 {
  margin-bottom: 10px;
}

.msger-users ul {
  list-style: none;
  padding: 0;
}

.msger-users li {
  margin-bottom: 5px;
}
