/* Chat container */
.msger {
  margin: 20px;
  border-radius: 10px;
  background: #000000;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%; /* Set chat container height to fill parent */
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #808080; /* Change to gray */
  color: white;
}

.msger-chat {
  overflow-y: auto;
  max-height: 300px; /* Adjust this value as needed */
}

/* Messages */
.msg-wrapper {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of messages */
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* Bubble */
.msg-bubble {
  max-width: 300px;
  padding: 15px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Avatar */
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
}

/* Person message */
.right-msg .msg-bubble {
  margin-left: auto;
  background: #808080; /* Change to gray */
  color: white;
}

.right-msg .msg-info-name {
  color: white;
}

/* BOT message */
.left-msg .msg-bubble {
  margin-right: auto;
}

/* Input area */
.msger-inputarea {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f0f0f0;
}

.msger-input {
  flex-grow: 1;
  margin-right: 10px;
}

.msger-send-btn {
  background-color: #0084ff; /* Change to blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.msger-send-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
