
.msger {
  margin: 20px;
  border-radius: 10px;
  background: #000000;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%; /* Set chat container height to fill parent */
  
  
  display: flex;
  justify-content: space-between;
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #808080; /* Change to gray */
  color: rgb(0, 0, 0);
}

.msger-chat {
  overflow-y: auto; /* Keeps vertical scrollbar if content overflows vertically */
  width: 800px; /* Adjusted from max-width to width for a fixed larger size */
}

/* Additionally, to ensure text wraps within the message bubbles: */
.msg-bubble {
  max-width: 100%; /* Ensures bubble uses available space up to its max-width */
  word-wrap: break-word; /* Ensures long words do not cause horizontal overflow */
}

/* Messages */
.msg-wrapper {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of messages */
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* Bubble */
.msg-bubble {
  max-width: 100%; /* Ensures bubble uses available space up to its max-width */
  word-wrap: break-word; /* Ensures long words do not cause horizontal overflow */
}

/* Avatar */
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
}

/* Person message */
.right-msg .msg-bubble {
  margin-left: auto;
  background: #808080; /* Change to gray */
  color: white;
}

.right-msg .msg-info-name {
  color: white;
}

/* BOT message */
.left-msg .msg-bubble {
  margin-right: auto;
}

/* Input area */
.msger-inputarea {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #333; /* Changed background color to darker shade */
}

.msger-input {
  flex-grow: 1;
  margin-right: 10px;
  color: rgb(0, 0, 0); /* Ensured input text is visible */
}


.msger-users {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  justify-content: flex-end;
  
}

.msger-send-btn {
  background-color: #0084ff; /* Change to blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.msger-send-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



