/* Footer.css */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: auto; /* Align to the bottom */
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-link {
  color: #d2d2d2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #2980b9;
}

.footer-text {
  text-align: right; /* Right-align the text */
}

.heart-icon {
  color: #e74c3c;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  color: #ffffff;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #f39c12;
}
