/* Navbar.css */

/* Default styles */

/* Responsive styles for screens smaller than 767px (typical mobile devices) */
@media (max-width: 767px) {
  .navbar-brand,
  .language-container,
  .nav-link {
      text-align: center; /* Zentriert die Elemente, wenn sie gestapelt sind */
      width: 100%; /* Sorgt dafür, dass sie die volle Breite einnehmen */
  }
}

.pong-navbar {
  background-color: #212529;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between; /* Align items at both ends of the container */
  align-items: center; /* Center items vertically */
  width: 100%;
  flex-wrap: wrap; /* Erlaubt den Navbar-Elementen, in neue Zeilen zu fließen */
  padding: 10px; /* Add padding for better appearance */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #d2d2d2;
  text-align: center; /* Center the title */
  margin: 10px 0; /* Add margin to the title */
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; /* Anpassen je nach Bedarf */
}

.language-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  margin-right: 10px; /* Add right margin */
  color: #000;
}

.nav-link {
  color: #d2d2d2 !important;
  margin: 10px 10px;
  padding: 15px 10px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #343a40;
}

.language-button {
  margin-left: 10px;
}

.language-container select {
  margin-left: 10px; /* Adjust the margin for the select element */
}
