

/* Responsive styles for screens smaller than 767px (typical mobile devices) */
@media (max-width: 767px) {
  .nav-items {
    display: flex;
    flex-direction: column; /* Stapelt die Elemente vertikal für kleinere Bildschirme */
    align-items: center; /* Zentriert die Elemente horizontal */
  }

  .nav-link {
    margin: 5px 0; /* Passenden Abstand für die Links */
    display: flex; /* Flex-Layout verwenden, um Icon und Text zu positionieren */
    align-items: center; /* Zentriert das Icon und den Text vertikal */
    color: #fff;
  }

  .nav-link > span {
    display: none; /* Verstecke den Text auf kleinen Bildschirmen */
  }

  .nav-link > svg {
    margin-right: 5px; /* Füge einen kleinen Abstand zwischen dem Icon und dem Text hinzu */
  }
}

/* Responsive styles for screens larger than 767px */
@media (min-width: 768px) {
  .nav-link {
    justify-content: center; /* Zentriert den Text und das Icon horizontal */
    color: #fff;
  }

  .nav-link > span {
    display: inline-block; /* Stelle den Text wieder her */
    color: #fff;
  }
}

.pong-navbar {
  background-color: #212529;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between; /* Align items at both ends of the container */
  align-items: center; /* Center items vertically */
  width: 100%;
  padding: 10px; /* Add padding for better appearance */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #d2d2d2;
  text-align: center; /* Center the title */
  margin: 10px 0; /* Add margin to the title */
}

.nav-items {
  display: flex;
  align-items: center;
}

.language-container {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-right: 10px; /* Add right margin */
  color: #000;
  
  
}

.nav-link {
  margin: 0 10px; /* Passenden Abstand für die Links */
  padding: 15px 10px;
  transition: background-color 0.3s ease;
  color: #fff;
}

.nav-link:hover {
  background-color: #343a40;
}


.nav-link-logout {
  margin: 0 10px; /* Passenden Abstand für die Links */
  padding: 15px 10px;
  transition: background-color 1s ease;
  color: #000000;
}

.nav-link-logout:hover {
  background-color: #343a40;
  color: #fff;
  margin: 0 10px; 
  
  transition: background-color 1s ease;
}


.language-button {
  margin-left: 10px;
}

.language-container select {
  margin-left: 10px; /* Adjust the margin for the select element */
}
